index.html
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4a9b06b2-24c6-47fe-bf9c-3167c63e143e",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "audio_file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1664,
        256
      ],
      "id": "3e34d713-8cfa-4a25-b4da-dfafc8703a9d",
      "name": "Webhook Receiver",
      "webhookId": "4a9b06b2-24c6-47fe-bf9c-3167c63e143e"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════\n// NODE 2 — Extract Request Data\n// n8n v2.8.x: binary data detection with full fallback\n// ════════════════════════════════════════════════\nconst item = $input.first();\n\n// ── استخراج text fields ─────────────────────────\n// n8n v2 multipart: fields في item.json.body أو item.json مباشرة\nconst body = (item.json && item.json.body && typeof item.json.body === 'object')\n  ? item.json.body : item.json;\n\nconst clientId = (body.client_id || '').toString().trim();\nconst apiKey   = (body.api_key   || '').toString().trim();\n\nif (!clientId) throw new Error('MISSING_CLIENT_ID');\nif (!apiKey)   throw new Error('MISSING_API_KEY');\n\n// ── تشخيص: اطبع كل الـ binary keys ─────────────\nconst binaryKeys = item.binary ? Object.keys(item.binary) : [];\nconsole.log('[VVM] All binary keys:', JSON.stringify(binaryKeys));\nconsole.log('[VVM] item.binary exists:', !!item.binary);\n\n// ── البحث عن ملف الصوت بمرونة ──────────────────\n// n8n v2 قد يخزّن الملف بـ: 'audio_file' أو 'data' أو أي اسم\nconst audioKey = binaryKeys.find(k =>\n  k === 'audio_file' || k === 'data' || k.toLowerCase().includes('audio') || k.toLowerCase().includes('file')\n) || binaryKeys[0]; // fallback: أي binary موجود\n\nif (!item.binary || binaryKeys.length === 0 || !audioKey) {\n  console.error('[VVM] Binary not found. Keys:', JSON.stringify(binaryKeys));\n  console.error('[VVM] item.json keys:', JSON.stringify(Object.keys(item.json || {})));\n  throw new Error('MISSING_AUDIO_FILE');\n}\n\nconst audioBinary = item.binary[audioKey];\nconsole.log('[VVM] Found audio binary at key:', audioKey, '| mimeType:', audioBinary.mimeType);\n\n// ── Normalize: تأكد إن الـ key هو audio_file ───\nconst normalizedBinary = { audio_file: audioBinary };\n\nconst requestId = `${clientId}_${Date.now()}_${Math.random().toString(36).slice(2,7)}`;\nconsole.log(`[VVM] ▶ Request OK | client=${clientId} | req=${requestId}`);\n\nreturn [{\n  json: {\n    client_id:   clientId,\n    api_key:     apiKey,\n    request_id:  requestId,\n    received_at: new Date().toISOString()\n  },\n  binary: normalizedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        256
      ],
      "id": "19342078-7998-4ba7-b76d-1905290f0c28",
      "name": "Extract Request Data"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11fMpye0Nksrtw90Hnfo0Jzd8kHnzxnVfF-Lalrtmfm4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11fMpye0Nksrtw90Hnfo0Jzd8kHnzxnVfF-Lalrtmfm4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1184,
        256
      ],
      "id": "c7f41809-d990-4571-baeb-61e02d02550d",
      "name": "Read Clients Sheet",
      "credentials": {
        "googleApi": {
          "id": "3TVLpivYZ1CDgkBH",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════\n// NODE 4 — Validate Client\n// ════════════════════════════════════════════════\nconst sheetRows   = $input.all();\nconst requestItem = $('Extract Request Data').first();\n\nconst clientId  = requestItem.json.client_id;\nconst apiKey    = requestItem.json.api_key;\nconst requestId = requestItem.json.request_id;\nconst audioBin  = requestItem.binary?.audio_file;\n\n// 1. Find client row (ALL rows — no pre-filter)\nconst clientRow = sheetRows.find(row =>\n  row.json.client_id && row.json.client_id.toString().trim() === clientId\n);\nif (!clientRow) {\n  return [{ json: { valid: false, error: 'CLIENT_NOT_FOUND', client_id: clientId, request_id: requestId, message_ar: 'العميل غير موجود في النظام', http_code: 404 }}];\n}\n\nconst c = clientRow.json;\n\n// 2. API Key\nif ((c.api_key || '').toString().trim() !== apiKey) {\n  return [{ json: { valid: false, error: 'INVALID_API_KEY', client_id: clientId, request_id: requestId, message_ar: 'مفتاح API غير صحيح', http_code: 401 }}];\n}\n\n// 3. Active status\nconst isActive = ['true','1','yes','active'].includes((c.is_active || '').toString().toLowerCase().trim());\nif (!isActive) {\n  return [{ json: { valid: false, error: 'CLIENT_DISABLED', client_id: clientId, request_id: requestId, message_ar: 'الحساب معطّل، تواصل مع الإدارة', http_code: 403 }}];\n}\n\n// 4. Video URL — extract file ID if Google Drive sharing URL\nlet videoUrl = (c.video_url || '').toString().trim();\nif (!videoUrl) {\n  return [{ json: { valid: false, error: 'VIDEO_URL_MISSING', client_id: clientId, request_id: requestId, message_ar: 'رابط الفيديو غير مضبوط لهذا العميل', http_code: 500 }}];\n}\n// Convert Google Drive sharing URL to direct download URL\nconst driveMatch = videoUrl.match(/\\/d\\/([a-zA-Z0-9_-]{10,})\\//);\nif (driveMatch) {\n  videoUrl = `https://drive.google.com/uc?export=download&id=${driveMatch[1]}`;\n  console.log(`[VVM] Converted Drive URL -> ${videoUrl}`);\n}\n\n// 5. Rate limit\nconst today     = new Date().toISOString().split('T')[0];\nconst lastReset = (c.last_reset || '').toString().split('T')[0];\nconst isNewDay  = today !== lastReset;\nlet   dailyCount = parseInt(c.daily_count || '0', 10);\nif (isNaN(dailyCount) || isNewDay) dailyCount = 0;\nconst dailyLimit = parseInt(c.daily_limit || '10', 10);\nif (dailyCount >= dailyLimit) {\n  return [{ json: { valid: false, error: 'RATE_LIMIT_EXCEEDED', client_id: clientId, request_id: requestId, daily_count: dailyCount, daily_limit: dailyLimit, message_ar: `تجاوزت الحد اليومي (${dailyCount}/${dailyLimit})`, http_code: 429 }}];\n}\n\n// All OK\nconst now = new Date();\nconsole.log(`[VVM] ✓ Client valid: ${clientId} | usage: ${dailyCount+1}/${dailyLimit}`);\nreturn [{ json: {\n  valid: true, client_id: clientId,\n  client_name: (c.client_name || clientId).toString().trim(),\n  video_url: videoUrl,\n  request_id: requestId,\n  daily_count: dailyCount, daily_limit: dailyLimit,\n  new_daily_count: dailyCount + 1,\n  new_last_reset: isNewDay ? now.toISOString() : (c.last_reset || now.toISOString()),\n  total_processed: parseInt(c.total_processed || '0', 10) + 1,\n  http_code: 200\n}, binary: audioBin ? { audio_file: audioBin } : {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        256
      ],
      "id": "3a21edb3-202c-4c9f-b093-ba9ea068e5db",
      "name": "Validate Client"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -704,
        256
      ],
      "id": "29c63ac0-39ec-4b3b-a560-4becc461d490",
      "name": "Is Client Valid?"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst { error, client_id, request_id, message_ar, http_code, daily_count, daily_limit } = item.json;\nconsole.error(`[VVM] ✗ Error | client=${client_id} | error=${error}`);\nreturn [{ json: { success: false, error: error||'UNKNOWN_ERROR', message_ar: message_ar||'حدث خطأ غير متوقع', client_id: client_id||'unknown', request_id: request_id||'unknown', timestamp: new Date().toISOString(), http_code: http_code||400, ...(daily_count !== undefined && { daily_count, daily_limit }) }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        448
      ],
      "id": "58cb60e2-6901-4c2d-a603-c28d994e25b5",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "X-VVM-Request-ID",
                "value": "={{ $json.request_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -224,
        448
      ],
      "id": "64178fc1-90ec-4e39-94ec-51dc53262621",
      "name": "Respond with Error"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11fMpye0Nksrtw90Hnfo0Jzd8kHnzxnVfF-Lalrtmfm4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "clients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "daily_count": "={{ $json.new_daily_count }}",
            "last_reset": "={{ $json.new_last_reset }}",
            "total_processed": "={{ $json.total_processed }}",
            "last_error": ""
          },
          "matchingColumns": [
            "client_id"
          ],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "daily_count",
              "displayName": "daily_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_reset",
              "displayName": "last_reset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "total_processed",
              "displayName": "total_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -464,
        96
      ],
      "id": "ee401e08-5f2d-47c1-b800-86389f391a66",
      "name": "Update Daily Count",
      "credentials": {
        "googleApi": {
          "id": "3TVLpivYZ1CDgkBH",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookItem  = $('Webhook Receiver').first();\nconst validateItem = $('Validate Client').first();\nconst audioBinary  = webhookItem.binary?.audio_file;\nif (!audioBinary) throw new Error('Audio binary lost — not found in Webhook Receiver');\nconst clientId  = validateItem.json.client_id;\nconst requestId = validateItem.json.request_id;\nconsole.log(`[VVM] ✓ Audio re-attached | client=${clientId}`);\nreturn [{ json: { client_id: clientId, client_name: validateItem.json.client_name, video_url: validateItem.json.video_url, request_id: requestId }, binary: { audio_file: audioBinary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        16
      ],
      "id": "b927cbad-8105-4592-9b2e-11f86d937c22",
      "name": "Prepare Audio for Merge"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Validate Client').first().json.video_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        176
      ],
      "id": "8008c680-00f1-4e8f-885b-b59be5aaf6f5",
      "name": "Download Client Video",
      "credentials": {
        "googleApi": {
          "id": "3TVLpivYZ1CDgkBH",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        16,
        96
      ],
      "id": "5035d9df-9718-4b8b-90e3-c347b3ac5f28",
      "name": "Merge Audio + Video"
    },
    {
      "parameters": {
        "jsCode": "const { spawnSync } = require('child_process');\nconst fs   = require('fs');\nconst item = $input.first();\nconst binary     = item.binary || {};\nconst binaryKeys = Object.keys(binary);\nif (binaryKeys.length === 0) throw new Error(`No binary files. JSON: ${Object.keys(item.json).join(', ')}`);\nconst audioKey = binaryKeys.find(k => k.startsWith('audio_file'));\nconst videoKey = binaryKeys.find(k => k !== audioKey);\nif (!audioKey) throw new Error(`Audio key missing. Keys: ${binaryKeys.join(', ')}`);\nif (!videoKey) throw new Error(`Video key missing. Keys: ${binaryKeys.join(', ')}`);\nconst clientId   = (item.json?.client_id  || 'unknown').replace(/[^a-zA-Z0-9]/g, '_');\nconst requestId  = (item.json?.request_id || Date.now().toString()).replace(/[^a-zA-Z0-9_]/g, '_');\nconst outputPath = `/tmp/vvm_${clientId}_${requestId}.mp4`.slice(0, 80) + '.mp4';\nfunction resolveBinaryPath(binObj) {\n  if (!binObj) throw new Error('Binary object is null');\n  const id   = (binObj.id || '').replace('filesystem-v2:', '');\n  const base = '/home/node/.n8n/binaryData';\n  for (const p of [`${base}/${id}`, `${base}/${id.split('/').pop()}`, id]) {\n    try { if (p && fs.existsSync(p)) return p; } catch(_) {}\n  }\n  throw new Error(`Binary not found on disk. id: ${binObj.id}`);\n}\nfunction getDuration(fp, label) {\n  const r = spawnSync('ffprobe', ['-v','error','-show_entries','format=duration','-of','default=noprint_wrappers=1:nokey=1',fp], { encoding:'utf8', timeout:30000 });\n  if (r.status !== 0) throw new Error(`ffprobe failed on ${label}: ${(r.stderr||'').trim().slice(-300)}`);\n  const d = parseFloat(r.stdout.trim());\n  if (isNaN(d) || d <= 0) throw new Error(`Invalid duration for ${label}: \"${r.stdout.trim()}\"`);\n  return d;\n}\nlet audioSrc, videoSrc;\ntry {\n  audioSrc = resolveBinaryPath(binary[audioKey]);\n  videoSrc = resolveBinaryPath(binary[videoKey]);\n  const audioDuration = getDuration(audioSrc, 'audio');\n  const videoDuration = getDuration(videoSrc, 'video');\n  console.log(`[VVM][${clientId}] Audio: ${audioDuration.toFixed(2)}s | Video: ${videoDuration.toFixed(2)}s`);\n  let ffmpegArgs;\n  if (videoDuration >= audioDuration) {\n    ffmpegArgs = ['-y','-i',videoSrc,'-i',audioSrc,'-t',String(audioDuration),'-map','0:v:0','-map','1:a:0','-c:v','libx264','-preset','ultrafast','-crf','23','-c:a','aac','-b:a','192k','-movflags','+faststart','-shortest',outputPath];\n  } else {\n    const loopCount = Math.ceil(audioDuration / videoDuration);\n    ffmpegArgs = ['-y','-stream_loop',String(loopCount),'-i',videoSrc,'-i',audioSrc,'-t',String(audioDuration),'-map','0:v:0','-map','1:a:0','-c:v','libx264','-preset','ultrafast','-crf','23','-c:a','aac','-b:a','192k','-movflags','+faststart','-shortest',outputPath];\n  }\n  const result = spawnSync('ffmpeg', ffmpegArgs, { stdio:'pipe', timeout:540000 });\n  if (result.status !== 0) throw new Error(`FFmpeg failed (exit ${result.status}):\\n${(result.stderr?.toString()||'').slice(-1000)}`);\n  if (!fs.existsSync(outputPath)) throw new Error('FFmpeg: output file not created');\n  const outSize = fs.statSync(outputPath).size;\n  if (outSize === 0) throw new Error('Output file is empty');\n  console.log(`[VVM][${clientId}] ✅ Done: ${(outSize/1024/1024).toFixed(2)} MB`);\n  return [{ json: { output_path: outputPath, client_id: clientId, request_id: requestId, audio_duration: parseFloat(audioDuration.toFixed(2)), video_duration: parseFloat(videoDuration.toFixed(2)), output_size_mb: parseFloat((outSize/1024/1024).toFixed(2)) } }];\n} catch(err) {\n  try { if (outputPath && fs.existsSync(outputPath)) fs.unlinkSync(outputPath); } catch(_) {}\n  throw err;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        96
      ],
      "id": "f91b1923-19a3-4ad6-9cc1-6d914966794f",
      "name": "FFmpeg Process"
    },
    {
      "parameters": {
        "jsCode": "const fs   = require('fs');\nconst item = $input.first();\nconst outputPath = item.json.output_path;\nconst clientId   = item.json.client_id  || 'unknown';\nconst requestId  = item.json.request_id || 'output';\nif (!outputPath) throw new Error('output_path missing');\nif (!fs.existsSync(outputPath)) throw new Error(`Output file not found: ${outputPath}`);\nconst fileSize = fs.statSync(outputPath).size;\nconsole.log(`[VVM][${clientId}] Reading output: ${(fileSize/1024/1024).toFixed(2)} MB`);\nlet buffer;\ntry { buffer = fs.readFileSync(outputPath); }\nfinally { try { fs.unlinkSync(outputPath); console.log(`[VVM][${clientId}] /tmp deleted`); } catch(e) { console.warn(`Cleanup failed: ${e.message}`); } }\nif (!buffer || buffer.length === 0) throw new Error('Buffer is empty');\nconst filename   = `output_${clientId}_${requestId}.mp4`;\nconst binaryData = await this.helpers.prepareBinaryData(buffer, filename, 'video/mp4');\nconsole.log(`[VVM][${clientId}] ✅ Binary ready — ${filename}`);\nreturn [{ json: { client_id: clientId, request_id: requestId, size_mb: parseFloat((fileSize/1024/1024).toFixed(2)) }, binary: { output_video: binaryData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        96
      ],
      "id": "7a10cd24-0a9e-45fe-aadb-6e84f434cf46",
      "name": "Read Output to Binary"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "video/mp4"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"output_video.mp4\""
              },
              {
                "name": "X-VVM-Client-ID",
                "value": "={{ $json.client_id }}"
              },
              {
                "name": "X-VVM-Request-ID",
                "value": "={{ $json.request_id }}"
              },
              {
                "name": "X-VVM-Size-MB",
                "value": "={{ $json.size_mb }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        736,
        96
      ],
      "id": "382e9ee4-5fa6-45de-9f92-61b4dab74868",
      "name": "Respond with Video"
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Read Clients Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Clients Sheet": {
      "main": [
        [
          {
            "node": "Validate Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Client": {
      "main": [
        [
          {
            "node": "Is Client Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Client Valid?": {
      "main": [
        [
          {
            "node": "Update Daily Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Daily Count": {
      "main": [
        [
          {
            "node": "Prepare Audio for Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Client Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio for Merge": {
      "main": [
        [
          {
            "node": "Merge Audio + Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Client Video": {
      "main": [
        [
          {
            "node": "Merge Audio + Video",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Audio + Video": {
      "main": [
        [
          {
            "node": "FFmpeg Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Process": {
      "main": [
        [
          {
            "node": "Read Output to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Output to Binary": {
      "main": [
        [
          {
            "node": "Respond with Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83453a461c6d807e2b75fadea945aa5e17e10f5a5373937dc5e2596b44a2f597"
  }
}
